body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  .article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading{
    font-size: 2.5rem;
  }

  .dir-img {
    height: 50px;
    width: 50px;
  }

  .dir-img:hover {
    transform: scale(1.1);
  }
  
  .dir-heading {
    font-size: 2.5rem;
    padding: 70px 0;
  }

  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

  .card-title {
      font-size: 1.2rem;
      color: #333;
  }

  .card {
    height: 100%; /* Ensures cards fill their parent container */
  }

  .image-wrapper {
      height: 200px;
      overflow: hidden;
  }

  .image-wrapper img {
      object-fit: cover;
      width: 100%; 
      height: 100%; 
  }

  .flashcard-remove-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border: none;
}

.flashcard-remove-btn:hover {
    opacity: 1;
}

#image-container {
  text-align: center;
  margin: 20px 0;
  position: relative;
  display: inline-block;
}
#image-container img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bounding-box {
  position: absolute;
  border: 2px dashed #ffffff4d;
  outline: 2px solid rgb(212, 213, 202, 0.5); /* Simulates padding visually */
  background-color: rgb(212, 213, 202);
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.bounding-box.hidden {
  opacity: 0;
}

.bounding-box:hover {
  background-color: rgb(212, 213, 202);
  border-color: #0000001a;
}

.flashcard {
  position: relative;
  display: inline-block;
}
.toggle-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.toggle-box.revealed {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.step-img {
  width: 80px;
  height: 80px;
  max-width: 100%;
  margin-bottom: 10px;
  filter: invert(20%) brightness(50%);
}

@media (max-width: 576px) { 
  .step-img {
      width: 60px;
      height: 60px;
  }
}