# Ignore virtual environment
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE settings (VSCode, PyCharm)
.vscode/
.idea/

# Ignore database files
*.sqlite3
*.db

# Ignore environment variables
.env
*.secret

# Ignore logs
logs/
*.log

# Ignore compiled Python files
*.pyc

/utils
/keys
.elasticbeanstalk