{% extends 'layout.html' %}
{% block content %}

<div class="image-section"> 
    <div id="image-container">
        <img src="{{ url_for('static', filename='images/heart_diagram.png') }}" id="uploaded-image" alt="demo-img">
    </div>

    <script id="grouped-boxes-data" type="application/json">{{ bounding_boxes | tojson | safe }}</script>
</div>

<!-- External JavaScript file -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<div class="container text-center">
    <h2><a href="{{ url_for('directories') }}" class="btn btn-outline-info">Upload your own flashcards</a></h2>
</div>
{% endblock content %}

