{% extends 'layout.html' %}
{% block content %}
<div class="col-12 col-md-6 col-lg-6 mx-auto">
    {% for directory in directories %}
    <article class="media content-section">
        <div class="media-body row align-items-center">
            <div class="col-auto">
                <a class="article-title" href="{{ url_for('directory', directory_id=directory.id) }}">
                <img class="dir-img img-fluid" src="{{ image_file }}" alt="Flashcard Image">
            </a>
        </div>
    
        <div class="col text-start ps-3">
            <h2 class="mb-0">
                <a class="article-title text-decoration-none text-dark" href="{{ url_for('directory', directory_id=directory.id) }}">
                    {{ directory.name }}
                </a>
            </h2>
        </div>
        
        <div class="col-auto ms-auto">
            <form method="POST" action="{{ url_for('directory_delete', directory_id=directory.id) }}" enctype="multipart/form-data">
                <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            </form>
        </div>
    </div>
</article>
{% endfor %}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <article class="media content-section">
            <div class="media-body row align-items-center">
            <div class="col-auto">
                <img class="dir-img" src="{{ image_file }}" alt="Flashcard Image">
            </div>
            <div class="col">
                <div class="row">
                <div class="col-9">
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                  {% else %}
                      {{ form.name(class="form-control") }}
                      {% endif %}
                    </div>
                <div class="col-3">
                  {{ form.submit(class="btn btn-outline-info btn-block") }}
                </div>
            </div>
        </article>       
    </fieldset>
</form>
</div>
{% endblock content %}
